body {
    background-color: black;
}

.container {
    display: inline-flex;
    justify-content: center;
    align-content: space-between;
    
}
.containerHome {
    color: aliceblue;
}
.planetsContainer {
    color: aliceblue;
}
.vehiclesContainer {
    color: aliceblue;
}