body {
    background-color: black;
}
.headings {
    color: #FFE919;
}
/* #favoritesButton {
    margin-right: 10%;
    background-color: #FFE919;
} */

.container {
    display: flex;
    flex-direction: column;
    /* column-gap: 15px;
    row-gap: 15px; */
    justify-content: center;
    align-content: space-evenly;
    color: rgb(17, 17, 17);    
}
/* .rowContainer {
    column-gap: 15px;
    row-gap: 15px;
} */

.starwarsLogo {
    max-height: 75px;
    width: auto;
    padding-left: 30px;
}
.indContainer {
    display: inline-block;
}